<div data-ng-controller="ParticipantsController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">MEAN TODO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/register">Register</a>
                    </li>

                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/participants/create">CREATE</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/participants">participants</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="authentication.user.name" data-ng-show="authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section data-ng-init="find()" class="container">
     	<table class="submissions">
     		<tr class="tb-header">
     			<td>Name</td>
     			<td>Date of Birth</td>
     			<td>Email</td>
     			<td>Mobile Number</td>
     			<td>Adventures</td>
     			<td>Catch Up date (1)</td>
     			<td>Catch Up date (2)</td>
     			<td>Catch Up date (3)</td>
     			<td>Attended Group meeting 1</td>
     			<td>Attended Group meeting 2</td>
     			<td>Total Fundraised</td>
     			<td>Offline Total</td>
     			<td>Just Giving Total</td>
     			<td>Adventure Leader</td>
     		<tr>
  			<tr ng-repeat="participant in participants">
    			<td>{{ participant.Name }}</td>
    			<td>{{ participant.DateOfBirth }}</td>
    			<td>{{ participant.Email }}</td>
    			<td>{{ participant.MobileNo }}</td>
    			<td>{{ participant.Adventures }}</td>
    			<td>{{ participant.CatchUpDate1 }}</td>
    			<td>{{ participant.CatchUpDate2 }}</td>
    			<td>{{ participant.CatchUpDate3 }}</td>
    			<td>{{ participant.AttendedGroupMeeting1 }}</td>
    			<td>{{ participant.AttendedGroupMeeting2 }}</td>
    			<td>{{ participant.TotalFundraised }}</td>
    			<td>{{ participant.OfflineTotal }}</td>
    			<td>{{ participant.JustGivingTotal }}</td>
    			<td>{{ participant.AdventureLeader }}</td>
  			</tr>
		</table>
    </section>
</div>